@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');


*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: #0A0F0D;
}
h1#titulo-principal{
    text-shadow: 2px 2px 0px #8b8b8b52;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    color: white;
    border-right: 2px solid white;
    margin: 0 auto;
    width: 400px;
    margin-top: 120px;
    margin-bottom: 30px;
    white-space: nowrap;
    overflow: hidden;
}
.descricao{
    border-radius: 10px;
    padding: 10px;
    background-color: #151d1a3a;
    font-size: 1.3em;
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.178);
    width: 500px;
    margin-top: 30px;
    margin: 0 auto;
}
.container-avatar{
    width: auto;
    margin-top: 50px;
    text-align: center;
}
.imagem-avatar{
    transition: all 0.5s ease;
}
.imagem-avatar:hover{
    transform: translateY(-10px);
}

.animação-escrever{
    animation: cursor 600ms steps(45) infinite 
    normal, escrever 4s steps(40)
    1s normal both;
}
@keyframes escrever{
    from{
        width: 0;
    }

    to{
        width: 14.8em;
    }
}

@keyframes cursor{
    from{
        border-right-color: white;
    }
    to{
        border-right-color: transparent;
    }
}
hr{
    border-width: 2px;
    border-color: #2b1a6e;
    margin-top: 45px;
}
.titulo-contatos{
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px;
    text-align: center;
    transition: all 0.5s ease-in-out;
}
.titulo-contatos:hover{
    transform: translateY(-5px);

}
.container-contatos{
    margin-top: 40px;
    margin-bottom: 40px;
}
.botao-contato{
    margin-top: 20px;
    text-align: center;
}
.secao-projetos{
    text-align: center;
    
}
.caixa-projeto{
    border: 2px solid #2A1E5C;
    margin-left: 20px;
    margin-top: 30px;
    display: inline-block;
    transition: all 0.7s ease;
    background-color: #00000038;
    box-shadow: #2A1E5C 4px 4px 0px;
    
}
.caixa-projeto:hover{
    box-shadow: #2A1E5C 9px 10px 0px;
    transform: translateY(-10px);
    
}
.titulo-projeto{
    color: white;
    font-size: 1.2em;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
}
.botao-contato a{
    cursor: pointer;
    user-select: none;
    padding: 1rem 2rem;
    border-radius: 5px;
    width: 100px;
    background-color: #0A0F0D;
    display: inline-block;
    transition: all 0.5s ease;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    border-style: solid;
    border-color: #2A1E5C;
    box-shadow: #2A1E5C 4px 4px 0px;
    border-radius: 1px 1px;
}
.botao-contato a:hover{
    box-shadow: #2A1E5C 6px 5px 0px;
    transform: translateY(-5px);
    width: 120px;
}
footer{
    font-weight: bold;
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    background-color: #151d1a;
    text-align: center;
    padding: 10px;
    font-size: 0.9em;
}